<section>
    <div class="container mt-5">
        <div class="row">
            {{#each products}}
            <div class="col-md-3 p-2">
                <div class="card" style="height: 29rem; width: auto;">
                    <img class="card-img-top" src="/product-images/{{this.item}}.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{this.product.Name}}</h5>
                        <p class="card-price">Rs.{{this.product.Price}}</p>
                        <p class="card-text">{{this.product.Category}}</p>
                                                <p class="card-text font-weight-bold">Quantity: {{this.quantity}}</p>

                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>